
KKMessagesDemo.xcodeproj/xcuserdata/tuck.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

KKMessagesDemo.xcodeproj/project.xcworkspace/xcuserdata/tuck.xcuserdatad/UserInterfaceState.xcuserstate

KKMessagesDemo.xcodeproj/project.xcworkspace/xcshareddata/KKMessagesDemo.xccheckout
